<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ошибка</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Произошла ошибка, {{message}}</h1>
        <a href="/users">Вернуться на страницу пользователей</a>
    </body>
</html>